<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>内科</string>
		<key>detailDepartments</key>
		<array>
			<string>呼吸内科</string>
			<string>消化内科</string>
			<string>心血管内科</string>
			<string>神经内科</string>
			<string>肿瘤科</string>
			<string>内分泌科</string>
			<string>血液内科</string>
			<string>传染病科</string>
			<string>小儿科</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>外科</string>
		<key>detailDepartments</key>
		<array>
			<string>普通外科</string>
			<string>心胸外科</string>
			<string>肝胆外科</string>
			<string>泌尿外科</string>
			<string>矫形外科</string>
			<string>神经外科</string>
			<string>烧伤</string>
			<string>整型科</string>
			<string>显微外科</string>
			<string>耳鼻咽喉头颈外科
耳鼻咽喉头颈外科</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>内科</string>
		<key>detailDepartments</key>
		<array>
			<string>呼吸内科</string>
			<string>消化内科</string>
			<string>心血管内科</string>
			<string>神经内科</string>
			<string>肿瘤科</string>
			<string>内分泌科</string>
			<string>血液内科</string>
			<string>传染病科</string>
			<string>小儿科</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>内科</string>
		<key>detailDepartments</key>
		<array>
			<string>呼吸内科</string>
			<string>消化内科</string>
			<string>心血管内科</string>
			<string>神经内科</string>
			<string>肿瘤科</string>
			<string>内分泌科</string>
			<string>血液内科</string>
			<string>传染病科</string>
			<string>小儿科</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>内科</string>
		<key>detailDepartments</key>
		<array>
			<string>呼吸内科</string>
			<string>消化内科</string>
			<string>心血管内科</string>
			<string>神经内科</string>
			<string>肿瘤科</string>
			<string>内分泌科</string>
			<string>血液内科</string>
			<string>传染病科</string>
			<string>小儿科</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>内科</string>
		<key>detailDepartments</key>
		<array>
			<string>呼吸内科</string>
			<string>消化内科</string>
			<string>心血管内科</string>
			<string>神经内科</string>
			<string>肿瘤科</string>
			<string>内分泌科</string>
			<string>血液内科</string>
			<string>传染病科</string>
			<string>小儿科</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>内科</string>
		<key>detailDepartments</key>
		<array>
			<string>呼吸内科</string>
			<string>消化内科</string>
			<string>心血管内科</string>
			<string>神经内科</string>
			<string>肿瘤科</string>
			<string>内分泌科</string>
			<string>血液内科</string>
			<string>传染病科</string>
			<string>小儿科</string>
		</array>
	</dict>
</array>
</plist>
