<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>呼吸内科</string>
		<key>detailDepartments</key>
		<array>
			<string>肺结核</string>
			<string>肺炎</string>
			<string>肺癌</string>
			<string>支气管炎</string>
			<string>肺气肿</string>
			<string>哮喘</string>
			<string>风热感冒</string>
			<string>流感</string>
			<string>百日咳</string>
			<string>急性支气管炎</string>
			<string>慢性肺炎</string>
			<string>肺热咳嗽</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>消化内科</string>
		<key>detailDepartments</key>
		<array>
			<string>便秘</string>
			<string>胆囊炎</string>
			<string>肝硬化</string>
			<string>胃溃疡</string>
			<string>肠胃炎</string>
			<string>胃病</string>
			<string>急性阑尾炎</string>
			<string>胃肠功能紊乱</string>
			<string>腹痛</string>
			<string>慢性腹泻</string>
			<string>蛔虫病</string>
			<string>消化不良</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>心血管内科</string>
		<key>detailDepartments</key>
		<array>
			<string>冠心病</string>
			<string>动脉硬化</string>
			<string>心肌梗塞</string>
			<string>高血压</string>
			<string>心绞痛</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>内分泌科</string>
		<key>detailDepartments</key>
		<array>
			<string>甲亢</string>
			<string>内分泌失调</string>
			<string>高血脂</string>
			<string>甲减</string>
			<string>肥胖症</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>神经内科</string>
		<key>detailDepartments</key>
		<array>
			<string>脑梗塞</string>
			<string>癫痫</string>
			<string>神经衰弱</string>
			<string>失眠</string>
			<string>脑血栓</string>
			<string>三叉神经痛</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>血液科</string>
		<key>detailDepartments</key>
		<array>
			<string>白血病</string>
			<string>地中海贫血</string>
			<string>淋巴癌</string>
			<string>血友病</string>
			<string>缺铁性贫血</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>风湿科</string>
		<key>detailDepartments</key>
		<array>
			<string>痛风</string>
			<string>红斑狼疮</string>
			<string>风湿性关节炎</string>
			<string>类风湿性关节炎</string>
			<string>风湿热</string>
			<string>骨关节炎</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>肾内科</string>
		<key>detailDepartments</key>
		<array>
			<string>尿毒症</string>
			<string>肾炎</string>
			<string>尿路感染</string>
			<string>膀胱炎</string>
			<string>肾积水</string>
			<string>肾功能衰竭</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>心胸外科</string>
		<key>detailDepartments</key>
		<array>
			<string>心肌炎</string>
			<string>先天性心脏病</string>
			<string>风湿性心脏病</string>
			<string>急性心肌梗塞</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>肝胆外科</string>
		<key>detailDepartments</key>
		<array>
			<string>脂肪肝</string>
			<string>胆囊息肉</string>
			<string>胆结石</string>
			<string>胰腺炎</string>
			<string>肝囊肿</string>
			<string>肝血管瘤</string>
			<string>酒精肝</string>
			<string>胆囊癌</string>
			<string>肝损伤</string>
			<string>丙肝</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>脑外科</string>
		<key>detailDepartments</key>
		<array>
			<string>脑出血</string>
			<string>脑积水</string>
			<string>脑膜炎</string>
			<string>脑震荡</string>
			<string>脑栓塞</string>
			<string>脑疝</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>肠胃外科</string>
		<key>detailDepartments</key>
		<array>
			<string>肠炎</string>
			<string>慢性阑尾炎</string>
			<string>胃穿孔</string>
			<string>急性腹膜炎</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>骨科</string>
		<key>detailDepartments</key>
		<array>
			<string>颈椎病</string>
			<string>肩周炎</string>
			<string>腰肌劳损</string>
			<string>骨质增生</string>
			<string>股骨头坏死</string>
			<string>骨质疏松</string>
			<string>骨折</string>
			<string>脊柱侧弯</string>
			<string>骨盆骨折</string>
			<string>髌骨骨折</string>
			<string>坐骨神经痛</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>肛肠科</string>
		<key>detailDepartments</key>
		<array>
			<string>痔疮</string>
			<string>直肠癌</string>
			<string>肛裂</string>
			<string>肛瘘</string>
			<string>结肠癌</string>
			<string>肛周湿疹</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>泌尿外科</string>
		<key>detailDepartments</key>
		<array>
			<string>前列腺炎</string>
			<string>肾结石</string>
			<string>膀胱癌</string>
			<string>前列腺增生</string>
			<string>尿道结石</string>
			<string>肾肿瘤</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>乳腺外科</string>
		<key>detailDepartments</key>
		<array>
			<string>乳腺增生</string>
			<string>乳腺癌</string>
			<string>乳腺炎</string>
			<string>副乳</string>
			<string>急性乳腺炎</string>
		</array>
	</dict>
</array>
</plist>
